/* Custom Branding */
body{font-family: 'CircularBook';font-size: 18px;-webkit-font-smoothing:antialiased;}
.imgLogo {width:auto;height: 2em;vertical-align: middle;}
.imgLogout {width:auto;height:62px;vertical-align:middle;}
a {text-decoration: underline;color: #2696d9;font-size: 16px;}
h2, .h2-title {
  font-family: 'CircularBold';
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: 0.7px;
  color: #323840;
}
h4{
  font-family: 'CircularBook';
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: #707c91;
}
h6 {
  font-family: 'CircularBook';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7c7c7c;
}
.formTitle {
  font-family: 'CircularBook';
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #696969;
}
.title1 {
  font-family: 'CircularBook';
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.sub-title1 {
  font-family: 'CircularBook';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #4a4a4a;
}
.smallLink {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.4px;
  color: #2696d9;
}
.smallLink2{
  font-family: 'CircularBook';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.4px;
  text-align: right;
  color: #2696d9;
}
.customInput {
  font-family: 'CircularBook'!important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  height:40px;
  border-radius: 6px;
  /* border-top: solid 3px #d8d8d8;
  border-right: solid 3px #d8d8d8;
  border-bottom: solid 3px #d8d8d8; */
  background-color: #ffffff;
  -webkit-font-smoothing:antialiased;
}
input[type='text'], select {
  font-family: 'CircularBook'!important;
  height:40px;
  font-size: 14px;
  border-radius: 6px;
  /* border: solid 3px #d8d8d8; */
  background-color: #ffffff;
  -webkit-font-smoothing:antialiased;
}
.customBorder {
  border-width: 3px;
  border-style: solid;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color:#fff!important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
.headerImage {width: 125px;height: auto;} 
@media (min-width: 576px) {.headerImage {width: 156px;height: auto;}}
#footer {
  background-color: #6E7C90;
}

#footer .sub-title {
  font-family: 'CircularBook';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
}

#prescreener {background:url('./assets/images/city.svg');background-size:cover;background-position:center bottom;}

/* FORM FIELDS STYLES */
input[type="radio"],input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 30px;
  width: 30px;
  border:2px solid #979797;
  border-radius: 50%;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
input[type="checkbox"] ~ .checkmark {
  top: 8px;
  left: 4px;
  height: 20px;
  width: 20px;
  border:1px solid #b9b9b9;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.large input[type="checkbox"] ~ .checkmark {
  height: 33px;
  width: 33px;
}
.large > label {padding-left: 3.5rem}
input[type="radio"]:checked ~ .checkmark:after, input[type="checkbox"]:checked ~ .checkmark:after{
  display: block;
}
input[type="radio"] ~ .checkmark:after {
 top: 5px;
 left: 5px;
 width: 16px;
 height: 16px;
 border-radius: 50%;
 background: #8dc5d1;
}
input[type="checkbox"] ~ .checkmark:after {
  left: 6px;
  top: 1px;
  width: 7px;
  height: 14px;
  border: solid #2696d9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.large input[type="checkbox"] ~ .checkmark:after{
  left: 10px;
  top: 0px;
  width: 12px;
  height: 24px;
  border-width: 0 4px 4px 0;
}

#calendar .rdtPicker {
  width:280px;
  padding: 15px 10px 20px 15px;
}

/* ERROR STYLES */
.textInputError {
  border-bottom-color: #FFB732!important;
  border-bottom-width: 3px!important;
  border-bottom-style: solid!important;
}
.text-error {color: #ce7b01;font-style: italic;}
.radioInputError .checkmark {
  border:2px solid #FFB732;
}
.radioInputError label{
  color: #ce7b01;
}

/* BRAND COLORS */
.grey-medium {color: #494949;}
/* .blue-link, a:visited {color:#66A9DB} */

/* BUTTON STYLES */
.disabled {background-color: #CFCFCF;}

/* Dialog box Styles */
.dialogStyles {
  width: 100%;
  position: absolute;
  z-Index: 999;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 15px 10px 20px 0px;
  top: 0px;
  left: 0px;
}

 @media (max-width: 375px) {
  #calendar .rdtPicker {
    left:0px;
  }
  .imgLogo{
   height: 1.5em;
  }
  .imgLogout{
    height:42px;
  }
}

.dialogCloseButtonStyles {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  align-self: flex-end;
  position: absolute;
}

.flexParent {
  display: flex;
  flex-wrap: wrap;
}

.flexChild {
  flex: 0 0 100%;
  order: 2;
}
