.Table__itemCount {
  /* margin-top: 10px; */
  font-size: 14px;
}

.Table__pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

.Table__pageButton {
  font-size: 15px;
  padding: 2px 6px;
  margin: 0 1px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Table__pageButton:disabled {
  cursor: not-allowed;
  color: gray;
}

.Table__pageButton--active {
  color: #ee3124;
  background-color: #dbdbdb;
  font-weight: bold;
}

.bg_colour {
  background-color: #ff0000;
}

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
  height: auto;
}

/* Custom Styles */
.ReactTable {font-size: 0.8em;border-radius:6px;}
#resultTable .ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 #ee3124;
}
.agencyTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2), .agencyTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) {text-align: left;}
.regionTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2), .regionTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) {text-align: left;}
.branchTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2), .branchTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) {text-align: left;}
.producerTable .ReactTable .rt-thead .rt-tr .rt-th {text-align: left;}
.producerTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(1), .producerTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(6), .producerTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(7)  {text-align: center;}


.agencyTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) .rt-resizable-header-content {margin-left: 2px;}
.agencyTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) .rt-resizable-header-content {margin-left: 2px;}
.regionTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) .rt-resizable-header-content {margin-left: 2px;}
.regionTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) .rt-resizable-header-content {margin-left: 2px;}
.branchTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) .rt-resizable-header-content {margin-left: 2px;}
.branchTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) .rt-resizable-header-content {margin-left: 2px;}
.producerTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(2) .rt-resizable-header-content {margin-left: 2px;}
.producerTable .ReactTable .rt-thead .rt-tr .rt-th:nth-child(3) .rt-resizable-header-content {margin-left: 2px;}

.rt-td {align-self: center;}
.actionButtons button {color:rgb(66, 66, 66);background-color:rgba(0, 0, 0, .03);padding:6px 6px;min-width: 50px;}
.actionButtons button:hover {background-color:#dbdbdb;}